.blog-container{
    background-color: rgb(231, 220, 237);
    margin-top: 28px;
    width: auto;
    
    
    
}

.bootcamp-image{
    width: 500px;
    height: 301px;
    border-radius: 10px;
    background-color: white;
}

li{
    list-style-type: none;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 60px;
text-align: center;
padding: 30px;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
}

    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        letter-spacing:2px;
        text-align: center;
        
    }

    img{
        margin: auto;
        display: block;
    }