/* LatestNews.css */

.latest-news-container {
    overflow: hidden;
    margin-top: -55px;
    background-color: rgb(231, 220, 237);
   
  }

  .news-header{
    text-align: center;
  }
  
  .slider {
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px; 
  }
  
  .news-item {
    flex: 0 0 auto; /* Disable flex growth to maintain item size */
    scroll-snap-align: start; /* Snap alignment to the start of each item */
    width: 300px; /* Set a minimum width for each news item */
    padding: 10px; /* Add padding to the news item */
    border: none; /* Add a border for separation */
  }
  
  .news-image {
    width: 100%;
    height: 190px;
    border-radius: 15px;
  }
  
  .news-title {
    font-size: 38px;
    margin-top: 10px;
  }
  
  .news-description {
    font-size: 24px;
    margin-top: 10px;
  }
  