/* imported  font */

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

/* Add these styles to your App.css file */
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between; /* To display buttons horizontally with space in between */
  margin-bottom: 30px; /* Add spacing between the buttons and the content */
  /* font-family: 'Roboto', sans-serif; */
}

nav button {
  padding: 10px 20px;
  background-color: #3e81c8;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  border-radius: 8px;
}

nav button:hover {
  background-color: #0056b3;
}

.nav-button {
  /* Existing button styles */
  transition: transform 0.2s; /* Add a smooth transition effect for the transform property */
}


.nav-button:hover {
  transform: translateY(-5px); /* Move the button 3 pixels up when hovered */
}
 
footer{
  height: 150px;
  border: solid #656767;
  background-color: #b3b3e8;
  color: white;
  text-align: center;
 
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

/* Add this to your stylesheet */
.create-post-button {
  background-color: #007bff; /* Choose your preferred background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  font-size: 26px; /* Adjust font size as needed */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  margin: auto;
  display: block;
}


.create-post-button:hover {
  background-color: #0056b3; /* Change background color on hover */

}
